<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Experiment4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ChineseServlet</display-name>
    <servlet-name>ChineseServlet</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e4.ChineseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseServlet</servlet-name>
    <url-pattern>/ChineseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseSubmitServlet</display-name>
    <servlet-name>ChineseSubmitServlet</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e4.ChineseSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseSubmitServlet</servlet-name>
    <url-pattern>/ChineseSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToBaidu</display-name>
    <servlet-name>ToBaidu</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e4.ToBaidu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToBaidu</servlet-name>
    <url-pattern>/ToBaidu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoCache</display-name>
    <servlet-name>NoCache</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e4.NoCache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoCache</servlet-name>
    <url-pattern>/NoCache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e4.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestIndexServlet</display-name>
    <servlet-name>RequestIndexServlet</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e4.RequestIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestIndexServlet</servlet-name>
    <url-pattern>/RequestIndexServlet</url-pattern>
  </servlet-mapping>
</web-app>