<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Experiment3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>companyName</param-name>
    <param-value>ZUCC</param-value>
  </context-param>
  <context-param>
    <param-name>address</param-name>
    <param-value>hangzhou</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginAPI</display-name>
    <servlet-name>LoginAPI</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e1.LoginAPI</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>address</param-name>
      <param-value>hangzhou</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>zhangqiao</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAPI</servlet-name>
    <url-pattern>/LoginAPI</url-pattern>
    <url-pattern>/api/v1/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAPI</display-name>
    <servlet-name>RegisterAPI</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e1.RegisterAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAPI</servlet-name>
    <url-pattern>/RegisterAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Count</display-name>
    <servlet-name>Count</servlet-name>
    <servlet-class>top.takuron.lessons.javaweb.e1.Count</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Count</servlet-name>
    <url-pattern>/Count</url-pattern>
  </servlet-mapping>
</web-app>